.review {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px 0px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e4e5e7;

  &:last-child {
    border-bottom: none;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 12px;

    .pp {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 4px;

      span {
        font-weight: 500;
        color: #404145;
      }

      .country {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #74767e;
        font-size: 13px;

        img {
          width: 16px;
        }
      }
    }
  }

  .stars {
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      height: 14px;
      width: 14px;
    }

    span {
      font-size: 13px;
      font-weight: 500;
      color: #ffc108;
    }
  }

  p {
    color: #404145;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
  }

  .helpful {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    color: #74767e;

    img {
      width: 14px;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}